// prevent second vertical scrollbar

.app-body {
  overflow: hidden;
}

.CodeMirror {
  height: auto;
}

.icon-settings {
  font-size: 20px;
}

.hotspot-component {
  overflow: hidden;
}

.breadcrumb-item:hover {
  cursor: pointer;
}
#settings-alert {
  display: none;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-right: 10px;
}