// prevent second vertical scrollbar

.app-body {
  overflow: hidden;
}

.CodeMirror {
  height: auto;
}

.icon-settings {
  font-size: 20px;
}

.hotspot-component {
  overflow: hidden;
}

.breadcrumb-item:hover {
  cursor: pointer;
}
