// prevent second vertical scrollbar

.app-body {
  overflow: hidden;
}

.CodeMirror {
  height: auto;
}

.navbar-nav .label {
  margin-left: 5px;
  margin-right: 20px;
}

.icon-settings,
.fa-database {
  font-size: 20px;
}

.hotspot-component {
  overflow: hidden;
}

.breadcrumb-item:hover {
  cursor: pointer;
}
#settings-alert {
  display: none;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-right: 10px;
}

.ReactCodeMirror {
  border: 1px solid #ccc;
}

.send-query {
  margin-top: 10px;
  margin-bottom: 20px;
}

.commit-calendar {
  svg {
    overflow: visible;
  }
}