.clear {
  clear: both;
}

a {
  &:hover {
    text-decoration: none;
  }
  .card {
    color: #151b1e;
  }
}

.alert {
  padding: 0.375rem 0.75rem !important;
}

.btn,
.btn:active {
  box-shadow: none !important;
}

.nav-link:hover {
  cursor: pointer;
}

.button-row {
  margin-bottom: 0;
}

// prevent second vertical scrollbar

.app-body {
  overflow: hidden;
}

.CodeMirror {
  height: auto;
}

.navbar-nav .label {
  margin-left: 5px;
  margin-right: 20px;
}

.fa-database,
.icon-settings {
  margin-top: 3px;
  width: 20px !important;
  height: 14px !important;
  font-size: 14px;
  display: block;
  float: left;
}

#database-settings-alert,
#project-settings-alert {
  display: none;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-right: 10px;
}

.ReactCodeMirror {
  border: 1px solid #ccc;
}

.send-query {
  margin-top: 10px;
  margin-bottom: 20px;
}

.commit-calendar {
  svg {
    overflow: visible;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}

.hotspot-component,
.structure-component {
  overflow: hidden;
}

#treebeard-component .simplebar-content {
  min-height: 650px !important;
}

.hotspot-component div div div div div:hover,
.structure-component div div div div div:hover {
  border: 2px solid rgb(163, 177, 178) !important;
}

.hotspot-component strong,
.structure-component strong {
  font-weight: normal !important;
}

.calendar-wrapper {
  position: relative;
}

.calendar-legend {
  position: absolute;
  right: 40px;
  bottom: 0;
  height: 50px;
  .less,
  .more {
    margin-top: 7px;
  }
}

.card-body {
  .list-group {
    margin-top: 5px;
  }

  .list-group-item {
    padding: 0.5rem 1.25rem;
  }
}

#treebeard-component,
#hotspot-component,
#structure-component {
  margin-bottom: 0;
}

.dynamic-breadcrumb {
  margin: 0;
  padding: 0;
  border: none;
}

a.breadcrumb-item {
  color: #20a8d8 !important;
  &:hover {
    color: #167495 !important;
    cursor: pointer;
  }
}

.pmd-card {
  .card-body {
    padding: 0;
    .alert{
      margin: 15px;
      padding: .75rem 1.25rem !important;
    }
    label {
      font-weight: 700;
      margin-right: 5px;
      &.equal-width {
        min-width: 68px;
      }
    }
  }
  .row {
    clear: both;
  }
  .simplebar-track.horizontal {
    display: none !important;
  }
}

.alert-worstcase {
  background-color: #ff9999;
  border-color: #ff8080;
  color: #800000;
}

.ReactTable .-pagination {
  .-pageInfo {
    margin: 3px 0 3px 5px !important;
  }
  .-pageSizeOptions {
    margin: 3px 5px 3px 0 !important;
  }
  .-center {
    flex: 2 !important;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.selectbox {
  background: #fff;
  color: #1d3b4a;
  padding: 8px;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;

  span {
    padding-left: 7px;
  }
}

.react-bootstrap-daterangepicker-container {
  float: right;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
