# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Core UI Samples of components
src/views/Base/**
src/views/Buttons/**
src/views/Charts/**
src/views/Icons/**
src/views/Notifications/**
src/views/Pages/**
src/views/Theme/**
src/views/Users/**
src/views/Widgets/**
